html
  head
    title rvlt__cx
    script(src='public/index.js' defer)
    script.
      window.env = !{CONFIG}
    link(href='public/index.css' rel='stylesheet' type='text/css')
  body
    #application