@import 'semantic-ui-css/semantic.min.css';

body {
  background-color: #f7f7f7 !important;
}

.ui.cards {
  .pocket {
    .content {
      background-color: #0E6EB8;
      .header {
        color: white;
        font-weight: 400;
        opacity: 0.75;
      }
      .description {
        color: white;
        font-size: 2em;
        text-align: right;
      }
      .header+.description {
        margin-top: 0em;
      }
    }
  }
}

.ui.input.right > input {
  text-align: right;
}

.ui.dropdown.block {
  display: block;
}